*~
._*
*.lock
*.DS_Store
*.swp
*.out
*.py[cod]
output
.idea/*
.env
*.ipr
*.iml
*.iws
node_modules
static/css/font-custom.css
static/css/bootstrap-custom.css
static/js/jquery/*
static/font
.fontcustom-manifest.json
.sass-cache

