*~
._*
*.lock
*.DS_Store
*.swp
*.out
*.py[cod]
output
.idea/*
.env
*.ipr
*.iml
*.iws
static/css/fontcustom.css
static/css/bootstrap-custom.css
static/js/jquery/*
static/fonts
.fontcustom-manifest.json
.sass-cache

