{% if article.changelog %}
    <section>
        <div class="panel-group" role="tablist">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="collapse-changelog-heading-1">
                    <h2 class="panel-title">
                        <a class="changelog-heading" data-toggle="collapse" href="#collapse-changelog" aria-controls="collapse-changelog">
                            Changelog
                        </a>
                        {% if article.changelog is string %}
                            <span class="badge">1</span> <span class="sr-only">entry</span>
                        {% else %}
                            <span class="badge">{{ article.changelog | length }}</span> <span class="sr-only">entries</span>
                        {% endif %}
                    </h2>
                </div>
                <div id="collapse-changelog" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapse-changelog-heading-1">
                    <dl class="dl-horizontal">
                        {% if article.changelog is string %}
                            {% set date, description = article.changelog.split(': ', 2) %}
                            <dt>{{ date }}</dt>
                            <dd>{{ description }}</dd>
                        {% else %}
                            {% for log_entry in article.changelog %}
                                {% set date, description = log_entry.split(': ', 2) %}
                                <dt>{{ date }}</dt>
                                <dd>{{ description }}</dd>
                            {% endfor %}
                        {% endif %}
                    </dl>
                </div>
            </div>
        </div>
    </section>
{% endif %}

