{% if GITHUB_USER %}
    <ul class="list-group">
        <li class="list-group-item">
            <span class="sidebar-heading"><i class="fa fa-github fa-lg"></i> GitHub repositories</span>

            <dl id="github-repos">
                {% for project in github_projects %}
                    <dt>
                        <a href="{{ project.github_url }}">{{ project.name }}</a>
                        {% if project.language %}
                            <small>{{ project.language }}</small>
                        {% endif %}
                    </dt>
                    <dd>
                        <small>{{ project.description }}</small>
                    </dd>
                {% endfor %}
            </dl>

            {% if GITHUB_SHOW_USER_LINK is defined %}
                <a href="https://github.com/{{ GITHUB_USER }}">@{{ GITHUB_USER }}</a> on GitHub
            {% endif %}
        </li>
    </ul>
{% endif %}
