{% extends "base.html" %}
{% block title %}Archives - {{ SITENAME }}{% endblock %}
{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
        <nav role="navigation">
            <p id="breadcrumblabel" class="sr-only">You are here:</p>
            <ol class="breadcrumb" aria-labelledby="breadcrumblabel">
                <li><a href="{{ SITEURL }}" title="{{ SITENAME }}">Home</a></li>
                <li class="active">Archives</li>
            </ol>
        </nav>
    {% endif %}
{% endblock %}

{% block content %}
    <section id="content">
        <h1>Archives for {{ SITENAME }}</h1>
        <div id="archives">
            {% for article in dates %}
                <p>
                    <span class="categories-timestamp"><time datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time></span>
                    <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}{% if article.subtitle %} - {{ article.subtitle }}{% endif %}</a>
                </p>
            {% endfor %}
        </div>
    </section>
{% endblock %}
