{% extends "article_list.html" %}
{% block title %}{{ tag }} - {{ SITENAME }}{% endblock %}
{% block meta %}
    <meta name="author" content="{{ AUTHOR }}" />
    <meta name="keywords" content="{{ tag }}" />
{% endblock %}
{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
        <nav role="navigation">
            <p id="breadcrumblabel" class="sr-only">You are here:</p>
            <ol class="breadcrumb" aria-labelledby="breadcrumblabel">
                <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
                <li><a href="{{ SITEURL }}/{{ TAGS_URL }}" title="Tags">Tags</a></li>
                <li class="active">{{ tag }}</li>
            </ol>
        </nav>
    {% endif %}
{% endblock %}
